
body {
    background: url("../images/background.jpg");
    
}


.jumbotron {
    background-image: url("../images/train.jpg");
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover; 
    text-align: center;
    color: white;
    min-height: 50%;
}
#h1 {
    color: rgb(39, 96, 202);
}

h2 {
    color: white;
    padding: 5px;
    margin: 5px 400px;
    border-style: inset;
    border-width: 5px;
    border-radius: 15px;
    border-color: lightblue;
    background-color: gray;
}